
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 87px 50px 90px;
  background-color: #fff;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.header__logo-image {
  width: 137px;
  height: 113px;
}

.header__address {
  max-width: 240px;
  justify-self: end;
  line-height: 24.3px;
}

.address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacts {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgb(0 0 0/0.6);
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
}

.cover__title {
  display: flex;
  flex-direction: column;
  width: 1000px;
  text-transform: uppercase;
  font-size: 100px;
  letter-spacing: 30px;
  line-height: 1.15;
  color: #fff;
  padding-top: 165px;
  margin-left: 50px;
}


.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  margin: 22px 0 0 28px;
}

.aligned-text_right {
  text-align: right;
  margin: 21px -29px 0 0;
}

.cover__description {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
  margin-left: 50px;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  word-spacing: 18px;
}

.bet-button {
  display: inline-block;
  width: 256px;
  height: 51px;
  padding: 0;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}

.lots {
  padding-top: 180px;
  background-color: #fff;
}

.lots__heading {
  margin: 0 0 27px 64px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
}

.card {
  position: relative;
  height: 100%;
  background-size: cover;
  background-position: center;
  color: #fff;
}

article .overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  padding: 48px 40px;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1.2px;
}

.card__text {
  padding: 0 40px 48px;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  margin: 30px 0 0 64px;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1.2px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  background-color: #fff;
  padding-top: 120px;
}

.about__logo {
  margin: 35px 0 0 71px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 300px;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}
.about__block {
  margin: 133px 24px 0 49px;
  display: flex;
  flex-direction: column;
}

.about__column {
  width: 693px;
  display: flex;
  flex-direction: column;
}

.about__title {
  margin-bottom: 100px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 20px;
  line-height: 24px;
}

.about__gap {
  margin-top: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 82px;
  background-color: #fff;
  font-size: 18px;
}

.footer__address {
  max-width: 264px;
  line-height: 24.3px;
}

.footer__menu {
  text-align: center;
  padding-right: 24px;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1.2px;
}

.active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}