.cover {
  position: relative;
  margin-bottom: 180px;
  min-height: 757px;
  background-image: url(/ono-tebe-nado-fd/images/cover.jpg);
  background-size: cover;
  background-position: center;

}
.lots {
  margin-bottom: 120px;
}
.about {
  margin-bottom: 180px;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 87px 50px 90px;
  background-color: #fff;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item {
  border-bottom: 1.5px solid black;
}

.header__logo-image {
  width: 137px;
  height: 113px;
}

.header__address {
  max-width: 240px;
  justify-self: end;
}

.address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacts {
  border-bottom: 1.5px solid black;
  width: 133px;
}

.overlay {

  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0 0 0/0.6)
}

.cover__title {
  display: grid;
  width: 1000px;
  height: 385px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-transform: uppercase;
  font-size: 100px;
  letter-spacing: 30px;
  line-height: 115%;
  color: #fff;
  margin-top: 165px;
  margin-left: 50px;
}


.aligned-text_left {
  grid-row: 1;
  grid-column: 1;
  text-align: left;
}

.aligned-text_center {
  grid-row: 2;
  grid-column: 2;
  text-align: center;
  margin-right: -37px;
  margin-top: 10px;
}

.aligned-text_right {
  grid-row: 3;
  grid-column: 3;
  text-align: right;
  margin-left: -93px;
  margin-right: -32px;
  margin-top: 13px;
}

.cover__description {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
  margin-left: 50px;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  word-spacing: 18px;
}

.bet-button {
  display: inline-block;
  width: 256px;
  height: 51px;
  padding: 0;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}
